<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/tarefas.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <title>Tarefas</title>
</head>
<body>
    <button type="button"><a href="./menu.html">MENU</a></button>
    <div class="container">
        <div class="box">
            <h2>Lista de Tarefas</h2>
            <input type="text" placeholder="Escreva aqui..." id="input-box">
            <ul id="list"></ul>
        </div>
    </div>
    <script src="../js/ctrlTask.js"></script>
</body>
</html>