<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Tarefas</title>
    <link rel="stylesheet" href="/src/css/tarefas.css">
</head>

<body>
    <main>
        <div class="app">
            <header>
                <h1>Lista de Tarefas</h1>
                <button id="create"><i class="fa-solid fa-square-plus"></i></button>
            </header>
            <div class="todo-list" id="list">
                <!-- <div class="item">
                    <input type="checkbox" />
                    <input 
                        type="text" 
                        value="tarefas"
                        placeholder="Escreva aqui..." 
                        disabled/>
                    <div class="actions">
                        <button class="material-icons"><i class="fa-solid fa-pencil"></i></button>
                        <button class="material-icons 
                        remove-btn"><i class="fa-solid fa-circle-minus"></i></button>
                    </div>
                </div> -->
            </div>
        </div>
    </main>
    <script src="/src/js/ctrlTask.js"></script>
</body>

</html>