<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Tarefas</title>
    <link rel="stylesheet" href="/src/css/tarefas.css">
</head>

<body>
    <nav class="menu-lateral">

        <div class="btn-expandir">
            <i class="fa-solid fa-bars" id="btn-exp"></i>
        </div>

        <ul>
            <li class="item-menu">
                <a href="/src/templates/menu.html">
                    <span class="icon"><i class="fa-solid fa-house"></i></span>
                    <span class="txt-link">Home</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="/src/templates/chat.html">
                    <span class="icon"><i class="fa-solid fa-comments"></i></span>
                    <span class="txt-link">Chat</span>
                </a>
            </li>
            <li class="item-menu ativo">
                <a href="/src/templates/tarefas.html">
                    <span class="icon"><i class="fa-solid fa-list-check"></i></span>
                    <span class="txt-link">Tarefas</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="/src/templates/agenda.html">
                    <span class="icon"><i class="fa-regular fa-calendar-days"></i></span>
                    <span class="txt-link">Agenda</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="/src/templates/config.html">
                    <span class="icon">
                        <i class="fa-solid fa-gear"></i>
                    </span>
                    <span class="txt-link">Configurações</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="/src/templates/user.html">
                    <span class="icon"><i class="fa-solid fa-circle-user"></i></span>
                    <span class="txt-link">Usuário</span>
                </a>
            </li>
        </ul>
    </nav>
    <main>
        <div class="app">
            <header>
                <h1>Lista de Tarefas</h1>
                <button id="create"><i class="fa-solid fa-square-plus"></i></button>
            </header>
            <div class="todo-list" id="list">
                <!-- <div class="item">
                    <input type="checkbox" />
                    <input 
                        type="text" 
                        value="tarefas"
                        placeholder="Escreva aqui..." 
                        disabled/>
                    <div class="actions">
                        <button class='edit-btn'><i class="fa-solid fa-pencil"></i></button>
                        <button class="remove-btn"><i class="fa-solid fa-circle-minus"></i></button>
                    </div>
                </div> -->
            </div>
        </div>
    </main>
    <script src="/src/js/ctrlTask.js"></script>
    <script src="../js/menu.js"></script>

</body>

</html>