@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

:root{
    --primary--color:#0056b3;
    --secundary--color: #ddd;
    --extra--color--1: #007bff;
    --extra--color--2: #3b3b3b;
    --body--bg--color: #242222;
}
body {
    font-size: 16px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    height: 100vh;
    background-color: var(--body--bg--color);
}

nav{
    z-index: 3;

}

nav.menu-lateral{
    width: 80px;
    height: 100%;
    background-color: var(--primary--color);
    padding: 40px 0 40px 1%;
    border-right: 3px solid var(--secundary--color);


    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
}

nav.menu-lateral.expandir{
    width: 300px;
    box-shadow: 0 0 80px var(--body--bg--color);
    border-right: 3px solid var(--secundary--color);
}

.btn-expandir{
    width: 100%;
    padding-left: 20px;
    padding-bottom: 30px;
}

.btn-expandir > i{
    color: whitesmoke;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style: none;
}

ul li.item-menu{
    transition: .2s;
}

ul li.ativo{
    background-color: var(--secundary--color);
}

ul li.item-menu:hover{
    background-color: var(--secundary--color);
}

ul li.item-menu a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    padding-top: 25px;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu.ativo a{
    color: var(--primary--color);
}

ul li.item-menu:hover a{
    color: var(--primary--color);
}

ul li.item-menu a .txt-link{
    margin-left: 70px;
    transition: .5s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link{
    margin-left: 40px;
    opacity: 1;
}
ul li.item-menu a .icon > i{
    font-size: 30px;
    margin-left: 10px;
}