@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

:root{
    --primary--color:#0056b3;
    --secundary--color: #ddd;
    --extra--color--1: #007bff;
    --extra--color--2: #3b3b3b;
    --body--bg--color: #242222;
}
body {
    font-size: 16px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    height: 100vh;
    background-color: var(--body--bg--color);
}

nav{
    z-index: 3;

}

nav.menu-lateral{
    width: 80px;
    height: 100%;
    background-color: var(--primary--color);
    padding: 40px 0 40px 1%;
    border-right: 3px solid var(--secundary--color);


    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
}

nav.menu-lateral.expandir{
    width: 300px;
    box-shadow: 0 0 80px var(--body--bg--color);
    border-right: 3px solid var(--secundary--color);
}

.btn-expandir{
    width: 100%;
    padding-left: 20px;
    padding-bottom: 30px;
}

.btn-expandir > i{
    color: whitesmoke;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style: none;
}

ul li.item-menu{
    transition: .2s;
}

ul li.ativo{
    background-color: var(--secundary--color);
}

ul li.item-menu:hover{
    background-color: var(--secundary--color);
}

ul li.item-menu a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    padding-top: 25px;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu.ativo a{
    color: var(--primary--color);
}

ul li.item-menu:hover a{
    color: var(--primary--color);
}

ul li.item-menu a .txt-link{
    margin-left: 70px;
    transition: .5s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link{
    margin-left: 40px;
    opacity: 1;
}
ul li.item-menu a .icon > i{
    font-size: 30px;
    margin-left: 10px;
}

main{
    margin-left: 15%;
    /* height: 70vh; */
    overflow: hidden;
}
.empresa{
    width: 450px;
    height: 70vh;
    background-color: var(--primary--color);
    margin-right: 30px;
    
}

h2{
    color: var(--secundary--color);
    margin-top: 50px;
    margin-bottom: 20px;
}

.fa-store{
    position: absolute;
    top: 6.4%;
    right: 8%;
    color: var(--secundary--color);
    font-size: 2rem;
    cursor: pointer;
}

.conteudo{
    display: flex;
    flex-direction: row;
}

.atributos{
    display: grid;
    grid-template-columns: repeat(2, 23vw);
}

div.atrib{
    height: 32vh;
    width: 20vw;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px;
    background-color: #fff;
    border-bottom: 8px solid var(--extra--color--1);
    margin-bottom: 6vh;
    padding-left: 5%;
}

div.atrib > i{
    font-size: 6rem;
    margin-top: 30%;
    margin-bottom: 9%;
    color: var(--extra--color--1);
}

.empresa{
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: #fff;
}

.empresa > p{
    text-align: justify;
    margin: 5%;
    font-size: 1.2rem;
    overflow-y: auto;
    height: 30%;
    margin-top: 15px;
    box-shadow: inset 0px -5px 25px -15px #ffffff;
}

h3{
    font-size: 22px;
}

img{
    border-radius: 50%;
    height: 40%;
    margin-top: 10%;
    margin-bottom: 13%;
    box-shadow: 0 0 15px #242222;
}

::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb {
    background: var(--body--bg--color);
    border-radius: 50px;
}