@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

:root{
    --primary--color:#0056b3;
    --secundary--color: #ddd;
    --extra--color--1: #007bff;
    --extra--color--2: #3b3b3b;
    --body--bg--color: #242222;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
body {
    background-color: var(--body--bg--color);
    overflow: hidden;
}

.clearfix {
    clear: both;
}

.logo {
    margin: 0px;
    margin-left: 28px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}

.logo span {
    color: var(--extra--color--1);
}



#main {
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 100px;
}

.head {
    padding: 25px;
}

.col-div-6 {
    width: 50%;
    float: left;
}

.profile {
    display: inline-block;
    float: right;
    width: 160px;
}

img{
    border-radius: 50%;
}

.pro-img {
    float: left;
    width: 40px;
    margin-top: 5px;
}

.profile p {
    color: white;
    font-weight: 500;
    margin-left: 55px;
    margin-top: 10px;
    font-size: 13.5px;
}

.profile p span {
    font-weight: 400;
    font-size: 12px;
    display: block;
    color: #8e8b8b;
}

.col-div-3 {
    width: 25%;
    float: left;
}

.box {
    width: 85%;
    height: 100px;
    background-color: var(--primary--color);
    margin-left: 10px;
    padding: 10px;
}

h2{
    color: var(--secundary--color);
    font-size: 32px;
}

.box p {
    font-size: 35px;
    color: white;
    font-weight: bold;
    line-height: 30px;
    padding-left: 10px;
    margin-top: 20px;
    display: inline-block;
}

.box p span {
    font-size: 20px;
    font-weight: 400;
    color: var(--secundary--color);
}

.box-icon {
    font-size: 40px !important;
    float: right;
    margin-top: 35px !important;
    color: var(--secundary--color);
    padding-right: 10px;
}

.col-div-8 {
    width: 70%;
    float: left;
}

.col-div-4 {
    width: 29%;
    float: left;
}

.content-box {
    padding: 20px;
}

.content-box p {
    margin: 0px;
    font-size: 22px;
    color: var(--secundary--color);
    font-weight: 700;
}

.content-box p span {
    float: right;
    background-color: #ddd;
    padding: 3px 10px;
    font-size: 15px;
}

.box-8,
.box-4 {
    width: 95%;
    background-color: var(--primary--color);
    height: 330px;

}

.nav2 {
    display: none;
}

.box-8 {
    margin-left: 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-left: 20px;

}

a{
    color: var(--secundary--color);
    text-emphasis: none;
    text-decoration: none;
}

td,
th {
    text-align: left;
    padding: 12px;
    color: #ddd;
    border-bottom: 1px solid var(--secundary--color)40;
}

.circle-wrap {
    margin: 50px auto;
    width: 150px;
    height: 150px;
    background: #e6e2e7;
    border-radius: 50%;
    box-shadow: 0 0 10px #96c8fd;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}

.circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .circle .mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: var(--extra--color--1);
}

.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
    animation: fill ease-in-out 3s;
    transform: rotate(126deg);
}

@keyframes fill {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(126deg);
    }
}

.circle-wrap .inside-circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: var(--body--bg--color);
    line-height: 130px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
    color: #fff;
}