@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

button{
    appearance: none;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

body{
    color: #fff;
    height: 100vh;
    background-color: #232354;
}

main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 2rem 1.5rem;
}

.app{
    width: 100%;
    max-width: 718px;
    background-color: rgba(58, 69, 94, 0.638);
    padding: 15px;
    border-radius: 5px;
    height: 718px;
    overflow-y: hidden;
}

header{
    position: relative;
    text-align: left;
}

.app header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 5px;
}

.app header h1{
    color: #fff;
    font-size: 30px;
    font-weight: 400;
}

.app header button{
    color: #fff;
    font-size: 35px;
    text-transform: uppercase;
}

.todo-list{
    height: 100%;
    max-height: 90%;
    position: relative;
    overflow-y: auto;
    padding: 1rem;
}

.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: #1e223d;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    margin-bottom: 1.5rem;
}

.item:last-of-type{
    margin-bottom: 0;
}

.item input[type="checkbox"]{
    margin-right: 1rem;
}

.item input[type="text"]{
    appearance: none;
    outline: none;
    border: none;
    background: none;
    font-weight: 400;
    color: #fff;
    font-size: 20px;
    flex: 1 1 0%;
    margin-right: 1rem;
}

.item input[type="text"]:not(:disabled){
    border-bottom: 2px solid #fff;
}

.item.complete{
    opacity: 0.7;
}

.item.complete input[type="text"]{
    text-decoration: line-through;
}

.item:hover, .item:focus-within{
    outline: 2px solid #fff;
}

.actions button{
    margin-right: 1rem;
    opacity: 0.8;
    transform: 0.1s;
    font-size: 16px;
}

.actions button.remove-btn{
    color: crimson;
}

.actions button.edit-btn{
    color: #ccc;
}

.actions button:hover{
    opacity: 1;
}

.actions button:last-of-type{
    margin-right: 0;
}





/* SIDEBAR */





nav{
    position: absolute;
    top: 0;
    left: 0;
}

nav.menu-lateral{
    width: 80px;
    height: 100%;
    background-color: #030367;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #daf7fe;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
}

nav.menu-lateral.expandir{
    width: 300px;
}

.btn-expandir{
    width: 100%;
    padding-left: 20px;
    padding-bottom: 10px;
}

.btn-expandir > i{
    color: whitesmoke;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style: none;
}

ul li.item-menu{
    transition: .2s;
}

ul li.ativo{
    background-color: #daf7fe;
}

ul li.item-menu:hover{
    background-color: #daf7fe;
}

ul li.item-menu a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    padding-top: 25px;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu.ativo a{
    color: #030367;
}

ul li.item-menu:hover a{
    color: #030367;
}

ul li.item-menu a .txt-link{
    margin-left: 70px;
    transition: .5s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link{
    margin-left: 40px;
    opacity: 1;
}
ul li.item-menu a .icon > i{
    font-size: 30px;
    margin-left: 10px;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb {
    background: #0e0e66;
    border-radius: 50px;
}