<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/chat.css">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Chat</title>
</head>

<body>
    <nav class="menu-lateral">

        <div class="btn-expandir">
            <i class="fa-solid fa-bars" id="btn-exp"></i>
        </div>

        <ul>
            <li class="item-menu ">
                <a href="../templates/menu.html">
                    <span class="icon"><i class="fa-solid fa-house"></i></span>
                    <span class="txt-link">Home</span>
                </a>
            </li>
            <li class="item-menu ativo">
                <a href="../templates/chat.html">
                    <span class="icon"><i class="fa-solid fa-comments"></i></span>
                    <span class="txt-link">Chat</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="../templates/tarefas.html">
                    <span class="icon"><i class="fa-solid fa-list-check"></i></span>
                    <span class="txt-link">Tarefas</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="../templates/agenda.html">
                    <span class="icon"><i class="fa-regular fa-calendar-days"></i></span>
                    <span class="txt-link">Agenda</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="../templates/config.html">
                    <span class="icon">
                        <i class="fa-solid fa-gear"></i>
                    </span>
                    <span class="txt-link">Configurações</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="../templates/user.html">
                    <span class="icon"><i class="fa-solid fa-circle-user"></i></span>
                    <span class="txt-link">Usuário</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="chat-sidebar">
        <div class="user-list">
            <h2>
                <!-- <img src="/img/logo-setorlink.png" alt=""> -->
                Chat</h2>
            <ul>
                <li class="chat-set ativo-set">
                    <p>Compras <i class="fa-solid fa-1"></i></p>
                </li>
                <li class="chat-set ativo-set selecionado">
                    <p>Produção <i class="fa-solid fa-ellipsis"><i class="fa-solid fa-pen"></i></i></p>
                </li>
                <li class="chat-set desativo-set">
                    <p>Engenharia <i class="fa-solid fa-3"></i></p>
                </li>
                <li class="chat-set desativo-set">
                    <p>Financeiro</p>
                </li>
                <li class="chat-set ativo-set">
                    <p>Comercial <i class="fa-solid fa-ellipsis"><i class="fa-solid fa-pen"></i></i></p>
                </li>
                <li class="chat-set desativo-set">
                    <p>Chaparia </p>
                </li>
                <li class="chat-set ativo-set">
                    <p>Fiscal <i class="fa-solid fa-1"></i></p>
                </li>
            </ul>
        </div>
    </div>

    <div id="compras" class="chat-container ">

        <div class="chat-main">
            <div class="chat-header">
                <h3>Compras</h3>
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
            <div class="chat-messages" id="chat-messages">
                <div class="message-box user">
                    <div class="message-content">
                        <p>Olá equipe de compras! Como estão as negociações com os fornecedores?</p>
                    </div>
                    <div class="message-avatar">
                        <i class="fa-solid fa-d"></i>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-avatar">
                        <i class="fa-solid fa-c"></i>
                    </div>
                    <div class="message-content">
                        <p>Olá, senhor. Estamos em processo de renegociação com alguns fornecedores-chave para obter melhores condições de pagamento e redução de custos.</p>
                    </div>
                </div>
                <div class="message-box user">
                    <div class="message-content">
                        <p>Ótimo. Algum fornecedor apresentou desafios específicos?</p>
                    </div>
                    <div class="message-avatar">
                        <i class="fa-solid fa-d"></i>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-avatar">
                        <i class="fa-solid fa-c"></i>
                    </div>
                    <div class="message-content">
                        <p>Sim, um dos fornecedores está enfrentando problemas de produção, o que afetou nossas entregas. Estamos avaliando alternativas para evitar atrasos.</p>
                    </div>
                </div>
                <div class="message-box user">
                    <div class="message-content">
                        <p>Entendido. Manter o fornecimento estável é crucial. E quanto à diversificação de fornecedores?</p>
                    </div>
                    <div class="message-avatar">
                        <i class="fa-solid fa-d"></i>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-avatar">
                        <i class="fa-solid fa-c"></i>
                    </div>
                    <div class="message-content">
                        <p>Estamos explorando novas opções para diversificar nossa base de fornecedores e reduzir riscos. Já identificamos alguns candidatos promissores.</p>
                    </div>
                </div>
                <div class="message-box user">
                    <div class="message-content">
                        <p>Excelente estratégia. Alguma outra área que exige atenção imediata?</p>
                    </div>
                    <div class="message-avatar">
                        <i class="fa-solid fa-d"></i>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-avatar">
                        <i class="fa-solid fa-c"></i>
                    </div>
                    <div class="message-content">
                        <p>Estamos revisando os níveis de estoque para garantir que tenhamos o suficiente para atender à demanda, especialmente considerando possíveis atrasos.</p>
                    </div>
                </div>
                <div class="message-box user">
                    <div class="message-content">
                        <p>Importante. Mantenham-me atualizado sobre as negociações e quaisquer desenvolvimentos significativos. Agradeço pelo trabalho diligente da equipe de compras.</p>
                    </div>
                    <div class="message-avatar">
                        <i class="fa-solid fa-d"></i>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-avatar">
                        <i class="fa-solid fa-c"></i>
                    </div>
                    <div class="message-content">
                        <p>Agradecemos, senhor. Estamos comprometidos em garantir um suprimento eficiente e econômico para a empresa.</p>
                    </div>
                </div>
                <br><br>
            </div>
            <div class="chat-input">
                <input type="text" id="message-input" placeholder="Digite sua mensagem...">
                <button><i class="fa-solid fa-paper-plane"></i></button>
            </div>
        </div>
    </div>

    <div id="producao" class="chat-container selecionado">

        <div class="chat-main">
            <div class="chat-header">
                <h3>Produção</h3>
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
            <div class="chat-messages" id="chat-messages">
                <div class="message-box user">
                    <div class="message-content">
                        <p>Olá equipe de produção. Como estamos hoje?</p>
                    </div>
                    <div class="message-avatar">
                        <i class="fa-solid fa-d"></i>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-avatar">
                        <i class="fa-solid fa-p"></i>
                    </div>
                    <div class="message-content">
                        <p>Bom dia, senhor. Estamos progredindo, mas enfrentamos atrasos nos materiais.</p>
                    </div>
                </div>
                <div class="message-box user">
                    <div class="message-content">
                        <p>Vou lidar com os fornecedores. E quanto aos testes de qualidade?</p>
                    </div>
                    <div class="message-avatar">
                        <i class="fa-solid fa-d"></i>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-avatar">
                        <i class="fa-solid fa-p"></i>
                    </div>
                    <div class="message-content">
                        <p>Alguns problemas em um lote, mas estamos resolvendo. A montagem está no ritmo.</p>
                    </div>
                </div>
                <div class="message-box user">
                    <div class="message-content">
                        <p>Boa notícia. Alguma sugestão para melhorar a eficiência?</p>
                    </div>
                    <div class="message-avatar">
                        <i class="fa-solid fa-d"></i>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-avatar">
                        <i class="fa-solid fa-p"></i>
                    </div>
                    <div class="message-content">
                        <p>Consideramos novas ferramentas. Revisões contínuas podem ajudar.</p>
                    </div>
                </div>
                <div class="message-box user">
                    <div class="message-content">
                        <p>Ótimo. E sobre a segurança?</p>
                    </div>
                    <div class="message-avatar">
                        <i class="fa-solid fa-d"></i>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-avatar">
                        <i class="fa-solid fa-p"></i>
                    </div>
                    <div class="message-content">
                        <p>Reforçamos práticas. Incidentes menores, mas sob controle.</p>
                    </div>
                </div>
                <div class="message-box user">
                    <div class="message-content">
                        <p>Mantenham-me informado. Estamos juntos nisso. Obrigado pela dedicação, equipe.</p>
                    </div>
                    <div class="message-avatar">
                        <i class="fa-solid fa-d"></i>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-avatar">
                        <i class="fa-solid fa-p"></i>
                    </div>
                    <div class="message-content">
                        <p>Agradecemos, senhor. Continuaremos focados.</p>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-avatar">
                        <i class="fa-solid fa-p"></i>
                    </div>
                    <div class="message-content">
                        <p><i class="fa-solid fa-ellipsis fa-bounce"></i></p>
                    </div>
                </div>
            </div>
            <div class="chat-input">
                <input type="text" id="message-input" placeholder="Digite sua mensagem...">
                <button><i class="fa-solid fa-paper-plane"></i></button>
            </div>
        </div>
    </div>

    <div id="engenharia" class="chat-container ">

        <div class="chat-main">
            <div class="chat-header">
                <h3>Engenharia</h3>
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
            <div class="chat-messages" id="chat-messages">
                <div class="message-box user">
                    <div class="message-content">
                        <p>Olá equipe de engenharia! Como estão progredindo nos projetos em andamento?</p>
                    </div>
                    <div class="message-avatar">
                        <i class="fa-solid fa-d"></i>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-avatar">
                        <i class="fa-solid fa-e"></i>
                    </div>
                    <div class="message-content">
                        <p>Olá, senhor. Estamos avançando bem, mas enfrentamos alguns desafios no desenvolvimento do novo protótipo. Há algumas questões técnicas que precisamos resolver.</p>
                    </div>
                </div>
                <div class="message-box user">
                    <div class="message-content">
                        <p>Entendi. Como podemos superar esses desafios? Precisamos de recursos adicionais ou assistência externa?</p>
                    </div>
                    <div class="message-avatar">
                        <i class="fa-solid fa-d"></i>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-avatar">
                        <i class="fa-solid fa-e"></i>
                    </div>
                    <div class="message-content">
                        <p>Estamos revisando a abordagem e considerando a consulta de um especialista externo para acelerar a resolução. Se pudermos obter aprovação para isso, acredito que conseguiremos superar os obstáculos mais rapidamente</p>
                    </div>
                </div>
                <div class="message-box user">
                    <div class="message-content">
                        <p>Ótimo, vamos avançar com isso. Além disso, como está a colaboração interdepartamental, especialmente com o setor de produção?</p>
                    </div>
                    <div class="message-avatar">
                        <i class="fa-solid fa-d"></i>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-avatar">
                        <i class="fa-solid fa-e"></i>
                    </div>
                    <div class="message-content">
                        <p>A comunicação está fluindo bem, mas identificamos alguns pontos de melhoria na transferência de informações entre os departamentos. Estamos trabalhando para otimizar esse processo.</p>
                    </div>
                </div>
                <div class="message-box user">
                    <div class="message-content">
                        <p>Boa iniciativa. E quanto às metas de prazos? Estamos dentro do cronograma?</p>
                    </div>
                    <div class="message-avatar">
                        <i class="fa-solid fa-d"></i>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-avatar">
                        <i class="fa-solid fa-e"></i>
                    </div>
                    <div class="message-content">
                        <p>Na maioria dos projetos, estamos nos mantendo no cronograma. Estamos ajustando as equipes para garantir que as prioridades estejam alinhadas com os prazos estabelecidos.</p>
                    </div>
                </div>
                <div class="message-box user">
                    <div class="message-content">
                        <p>Agradeço pela atualização. Certifiquem-se de manter a comunicação aberta e avancem nas soluções. Estou confiante de que superaremos esses desafios juntos.</p>
                    </div>
                    <div class="message-avatar">
                        <i class="fa-solid fa-d"></i>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-avatar">
                        <i class="fa-solid fa-e"></i>
                    </div>
                    <div class="message-content">
                        <p>Agradecemos, senhor. Estamos comprometidos em entregar resultados de alta qualidade.</p>
                    </div>
                </div>
                <br><br>
            </div>
            <div class="chat-input">
                <input type="text" id="message-input" placeholder="Digite sua mensagem...">
                <button><i class="fa-solid fa-paper-plane"></i></button>
            </div>
        </div>
    </div>

    <div id="financeiro" class="chat-container ">

        <div class="chat-main">
            <div class="chat-header">
                <h3>Financeiro</h3>
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
            <div class="chat-messages" id="chat-messages">
                <div class="message-box user">
                    <div class="message-content">
                        <p>Olá equipe financeira! Como estamos em relação aos números deste trimestre?</p>
                    </div>
                    <div class="message-avatar">
                        <i class="fa-solid fa-d"></i>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-avatar">
                        <i class="fa-solid fa-f"></i>
                    </div>
                    <div class="message-content">
                        <p>Olá, senhor. Os resultados estão alinhados com as projeções, mas notamos uma leve queda nas receitas de uma das linhas de produtos. Estamos analisando os detalhes para entender a causa.</p>
                    </div>
                </div>
                <div class="message-box user">
                    <div class="message-content">
                        <p>Entendi. Alguma ação imediata que precisamos tomar para reverter essa tendência?</p>
                    </div>
                    <div class="message-avatar">
                        <i class="fa-solid fa-d"></i>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-avatar">
                        <i class="fa-solid fa-f"></i>
                    </div>
                    <div class="message-content">
                        <p>Estamos propondo ajustes nas estratégias de marketing para impulsionar as vendas desse produto específico. Também estamos revisando custos para garantir eficiência operacional.</p>
                    </div>
                </div>
                <div class="message-box user">
                    <div class="message-content">
                        <p>Boa abordagem proativa. E sobre as despesas gerais? Alguma área que exija atenção?</p>
                    </div>
                    <div class="message-avatar">
                        <i class="fa-solid fa-d"></i>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-avatar">
                        <i class="fa-solid fa-f"></i>
                    </div>
                    <div class="message-content">
                        <p>Mantivemos as despesas sob controle, mas identificamos oportunidades de otimização em despesas operacionais. Estamos trabalhando em um plano para redução de custos sem comprometer a qualidade.</p>
                    </div>
                </div>
                <div class="message-box user">
                    <div class="message-content">
                        <p>Excelente. E sobre o fluxo de caixa, estamos gerenciando adequadamente?</p>
                    </div>
                    <div class="message-avatar">
                        <i class="fa-solid fa-d"></i>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-avatar">
                        <i class="fa-solid fa-f"></i>
                    </div>
                    <div class="message-content">
                        <p>Sim, estamos gerenciando o fluxo de caixa de forma eficaz. Mantemos reservas para imprevistos e as contas a pagar estão dentro do esperado.</p>
                    </div>
                </div>
                <div class="message-box user">
                    <div class="message-content">
                        <p>Agradeço pela análise detalhada. Certifiquem-se de manter a transparência nas comunicações e continuem buscando oportunidades para otimização. Estou confiante de que manteremos nossa estabilidade financeira.</p>
                    </div>
                    <div class="message-avatar">
                        <i class="fa-solid fa-d"></i>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-avatar">
                        <i class="fa-solid fa-f"></i>
                    </div>
                    <div class="message-content">
                        <p>Agradecemos, senhor. Estamos comprometidos em assegurar a saúde financeira da empresa.</p>
                    </div>
                </div>
                <br><br>
            </div>
            <div class="chat-input">
                <input type="text" id="message-input" placeholder="Digite sua mensagem...">
                <button><i class="fa-solid fa-paper-plane"></i></button>
            </div>
        </div>
    </div>

    <div id="comercial" class="chat-container ">

        <div class="chat-main">
            <div class="chat-header">
                <h3>Comercial</h3>
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
            <div class="chat-messages" id="chat-messages">
                <div class="message-box user">
                    <div class="message-content">
                        <p>Olá equipe do comercial! Como estamos indo nas metas este mês?</p>
                    </div>
                    <div class="message-avatar">
                        <i class="fa-solid fa-d"></i>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-avatar">
                        <i class="fa-solid fa-c"></i>
                    </div>
                    <div class="message-content">
                        <p>Olá, senhor. Estamos progredindo bem, mas enfrentamos algumas resistências nos fechamentos.
                        </p>
                    </div>
                </div>
                <div class="message-box user">
                    <div class="message-content">
                        <p>Compreendo. Alguma estratégia específica para superar essas resistências?</p>
                    </div>
                    <div class="message-avatar">
                        <i class="fa-solid fa-d"></i>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-avatar">
                        <i class="fa-solid fa-c"></i>
                    </div>
                    <div class="message-content">
                        <p>Estamos ajustando nossas abordagens de venda e intensificando o suporte pós-venda para
                            construir confiança.</p>
                    </div>
                </div>
                <div class="message-box user">
                    <div class="message-content">
                        <p>Excelente. E sobre os orçamentos? Algum desafio notável?</p>
                    </div>
                    <div class="message-avatar">
                        <i class="fa-solid fa-d"></i>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-avatar">
                        <i class="fa-solid fa-c"></i>
                    </div>
                    <div class="message-content">
                        <p>Alguns clientes expressaram preocupações com os custos. Estamos refinando nossas propostas
                            para destacar o valor agregado de nossos produtos.</p>
                    </div>
                </div>
                <div class="message-box user">
                    <div class="message-content">
                        <p>Boa abordagem. Precisamos destacar a qualidade. Alguma novidade ou oportunidade que deva ser
                            discutida?</p>
                    </div>
                    <div class="message-avatar">
                        <i class="fa-solid fa-d"></i>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-avatar">
                        <i class="fa-solid fa-c"></i>
                    </div>
                    <div class="message-content">
                        <p> Estamos explorando uma parceria potencial com uma empresa de logística para otimizar
                            entregas e reduzir custos para os clientes.</p>
                    </div>
                </div>
                <div class="message-box user">
                    <div class="message-content">
                        <p>Ótimo. Continuem com o excelente trabalho e mantenham-me atualizado sobre essas iniciativas.
                            Estou confiante de que superaremos esses desafios juntos.</p>
                    </div>
                    <div class="message-avatar">
                        <i class="fa-solid fa-d"></i>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-avatar">
                        <i class="fa-solid fa-c"></i>
                    </div>
                    <div class="message-content">
                        <p>Agradecemos, senhor. Estamos comprometidos em impulsionar as vendas e encontrar soluções para
                            melhor atender nossos clientes.</p>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-avatar">
                        <i class="fa-solid fa-c"></i>
                    </div>
                    <div class="message-content">
                        <p><i class="fa-solid fa-ellipsis fa-bounce"></i>.</p>
                    </div>
                </div>
                <br></br>
            </div>
            <div class="chat-input">
                <input type="text" id="message-input" placeholder="Digite sua mensagem...">
                <button><i class="fa-solid fa-paper-plane"></i></button>
            </div>
        </div>
    </div>

    <div id="chaparia" class="chat-container ">

        <div class="chat-main">
            <div class="chat-header">
                <h3>Chaparia</h3>
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
            <div class="chat-messages" id="chat-messages">
                <div class="message-box user">
                    <div class="message-content">
                        <p>Olá equipe de chaparia! Como estão as coisas no setor?</p>
                    </div>
                    <div class="message-avatar">
                        <i class="fa-solid fa-d"></i>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-avatar">
                        <i class="fa-solid fa-p"></i>
                    </div>
                    <div class="message-content">
                        <p>Olá, senhor. Estamos mantendo a produção em ritmo constante, mas enfrentamos um aumento nos custos dos materiais.</p>
                    </div>
                </div>
                <div class="message-box user">
                    <div class="message-content">
                        <p>Entendi. Isso está afetando significativamente nossas margens?</p>
                    </div>
                    <div class="message-avatar">
                        <i class="fa-solid fa-d"></i>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-avatar">
                        <i class="fa-solid fa-p"></i>
                    </div>
                    <div class="message-content">
                        <p>Estamos monitorando de perto, senhor. No momento, estamos buscando fornecedores alternativos para reduzir os custos sem comprometer a qualidade.</p>
                    </div>
                </div>
                <div class="message-box user">
                    <div class="message-content">
                        <p>Boa iniciativa. Além disso, como estão os padrões de segurança na área?</p>
                    </div>
                    <div class="message-avatar">
                        <i class="fa-solid fa-d"></i>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-avatar">
                        <i class="fa-solid fa-p"></i>
                    </div>
                    <div class="message-content">
                        <p>Mantemos um ambiente seguro, senhor. No entanto, notamos um aumento nas pequenas lesões. Estamos reforçando as práticas de segurança e oferecendo treinamento adicional para a equipe.</p>
                    </div>
                </div>
                <div class="message-box user">
                    <div class="message-content">
                        <p>Importante priorizar a segurança. E quanto às metas de produção, estamos alinhados com o cronograma?</p>
                    </div>
                    <div class="message-avatar">
                        <i class="fa-solid fa-d"></i>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-avatar">
                        <i class="fa-solid fa-p"></i>
                    </div>
                    <div class="message-content">
                        <p>Sim, senhor. Estamos atendendo às metas, mas estamos revisando os processos para identificar áreas de melhoria na eficiência.</p>
                    </div>
                </div>
                <div class="message-box user">
                    <div class="message-content">
                        <p>Ótimo. Certifiquem-se de manter a qualidade e eficiência. Alguma outra questão que eu deva estar ciente?</p>
                    </div>
                    <div class="message-avatar">
                        <i class="fa-solid fa-d"></i>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-avatar">
                        <i class="fa-solid fa-p"></i>
                    </div>
                    <div class="message-content">
                        <p>No momento, estamos bem, senhor. Continuaremos a buscar maneiras de aprimorar nossos processos e contribuir para o sucesso da empresa.</p>
                    </div>
                </div>
                <div class="message-box user">
                    <div class="message-content">
                        <p>Agradeço pela atualização. Mantenham o excelente trabalho e continuem sendo proativos na busca por melhorias. Estou confiante na equipe de chaparia.</p>
                    </div>
                    <div class="message-avatar">
                        <i class="fa-solid fa-d"></i>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-avatar">
                        <i class="fa-solid fa-p"></i>
                    </div>
                    <div class="message-content">
                        <p>Agradecemos, senhor. Estamos comprometidos em manter os mais altos padrões de produção.</p>
                    </div>
                </div>
                <br><br>
            </div>
            <div class="chat-input">
                <input type="text" id="message-input" placeholder="Digite sua mensagem...">
                <button><i class="fa-solid fa-paper-plane"></i></button>
            </div>
        </div>
    </div>

    <div id="fiscal" class="chat-container ">

        <div class="chat-main">
            <div class="chat-header">
                <h3>Fiscal</h3>
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
            <div class="chat-messages" id="chat-messages">
                <div class="message-box user">
                    <div class="message-content">
                        <p>Olá equipe fiscal! Como estamos em relação às obrigações tributárias e regulamentações?</p>
                    </div>
                    <div class="message-avatar">
                        <i class="fa-solid fa-d"></i>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-avatar">
                        <i class="fa-solid fa-f"></i>
                    </div>
                    <div class="message-content">
                        <p>Olá, senhor. Estamos mantendo tudo em conformidade, mas gostaria de destacar que há mudanças propostas na legislação tributária que podem impactar nossas operações. Estamos monitorando de perto.</p>
                    </div>
                </div>
                <div class="message-box user">
                    <div class="message-content">
                        <p>Compreendido. Quais são as principais áreas de atenção em relação a essas mudanças?</p>
                    </div>
                    <div class="message-avatar">
                        <i class="fa-solid fa-d"></i>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-avatar">
                        <i class="fa-solid fa-f"></i>
                    </div>
                    <div class="message-content">
                        <p>As alterações propostas incluem ajustes nas alíquotas de alguns impostos e mudanças nos prazos de pagamento. Estamos avaliando o impacto potencial em nossas finanças e preparando cenários para mitigar qualquer efeito adverso.</p>
                    </div>
                </div>
                <div class="message-box user">
                    <div class="message-content">
                        <p>Ótimo trabalho antecipando essas mudanças. Precisamos de algum apoio adicional para lidar com essas alterações?</p>
                    </div>
                    <div class="message-avatar">
                        <i class="fa-solid fa-d"></i>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-avatar">
                        <i class="fa-solid fa-f"></i>
                    </div>
                    <div class="message-content">
                        <p>No momento, estamos gerenciando, mas poderemos precisar de assistência jurídica especializada à medida que as mudanças se concretizarem. Estamos monitorando a situação de perto.</p>
                    </div>
                </div>
                <div class="message-box user">
                    <div class="message-content">
                        <p>Entendido. Mantenha-me atualizado sobre qualquer desenvolvimento significativo. Além disso, como estamos em termos de auditoria interna e externa?</p>
                    </div>
                    <div class="message-avatar">
                        <i class="fa-solid fa-d"></i>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-avatar">
                        <i class="fa-solid fa-f"></i>
                    </div>
                    <div class="message-content">
                        <p>As auditorias estão em andamento e estamos cooperando plenamente com os auditores. Até agora, não identificamos problemas significativos.</p>
                    </div>
                </div>
                <div class="message-box user">
                    <div class="message-content">
                        <p>Excelente. Agradeço pelo trabalho diligente. Continuem mantendo os altos padrões de conformidade. Estou confiante de que estamos bem preparados para enfrentar qualquer desafio fiscal.</p>
                    </div>
                    <div class="message-avatar">
                        <i class="fa-solid fa-d"></i>
                    </div>
                </div>
                <div class="message-box">
                    <div class="message-avatar">
                        <i class="fa-solid fa-f"></i>
                    </div>
                    <div class="message-content">
                        <p>Agradecemos, senhor. Estamos comprometidos em assegurar que a empresa cumpra todas as obrigações fiscais e regulamentares.</p>
                    </div>
                </div>
                <br><br>
            </div>
            <div class="chat-input">
                <input type="text" id="message-input" placeholder="Digite sua mensagem...">
                <button><i class="fa-solid fa-paper-plane"></i></button>
            </div>
        </div>
    </div>



    <script src="../js/menu.js"></script>
    <script src="../js/selecChat.js"></script>
</body>

</html>