<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../css/config.css">
    <title>Configurações</title>
</head>

<body>

    <nav class="menu-lateral">

        <div class="btn-expandir">
            <i class="fa-solid fa-bars" id="btn-exp"></i>
        </div>

        <ul>
            <li class="item-menu">
                <a href="../templates/menu.html">
                    <span class="icon"><i class="fa-solid fa-house"></i></span>
                    <span class="txt-link">Home</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="../templates/chat.html">
                    <span class="icon"><i class="fa-solid fa-comments"></i></span>
                    <span class="txt-link">Chat</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="../templates/tarefas.html">
                    <span class="icon"><i class="fa-solid fa-list-check"></i></span>
                    <span class="txt-link">Tarefas</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="../templates/agenda.html">
                    <span class="icon"><i class="fa-regular fa-calendar-days"></i></span>
                    <span class="txt-link">Agenda</span>
                </a>
            </li>
            <li class="item-menu ativo">
                <a href="../templates/config.html">
                    <span class="icon">
                        <i class="fa-solid fa-gear"></i>
                    </span>
                    <span class="txt-link">Configurações</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="../templates/user.html">
                    <span class="icon"><i class="fa-solid fa-circle-user"></i></span>
                    <span class="txt-link">Usuário</span>
                </a>
            </li>
        </ul>
    </nav>

    <main>
        <h2 class="font-weight-bold py-3 mb-0">
            Configurações do Sistema
        </h2>
        <i class="fa-solid fa-store" onclick="abrirLoja()"></i>
        <section class="conteudo">
            <section class="empresa">
                <img src="../img/logo-techpulse.png" id="logo">
                <h3>TechPulse Ltda.</h3>
                <p>TechPulse é uma empresa líder em soluções tecnológicas no setor elétrico, fundada pelo empreendedor Matheus Maciel aos 20 anos. Com uma base técnica sólida como técnico em eletrotécnica e atualmente cursando engenharia elétrica, Matheus impulsionou a TechPulse para se destacar no desenvolvimento de tecnologias avançadas e eficientes. A empresa é reconhecida por sua inovação e compromisso com soluções sustentáveis no mercado eletrônico, solidificando sua posição como referência na indústria.</p>

            </section>
            <section class="atributos">
                <div class="atrib">
                    <i class="fa-solid fa-users"></i>
                    <h4>USUÁRIOS</h4>
                    <p>8</p>
                </div>
                <div class="atrib">
                    <i class="fa-regular fa-comments"></i>
                    <h4>CHAT</h4>
                    <p>HABILITADO</p>
                </div>
                <div class="atrib">
                    <i class="fa-solid fa-list-check"></i>
                    <h4>TASKLIST</h4>
                    <p>HABILITADO</p>
                </div>
                <div class="atrib">
                    <i class="fa-regular fa-calendar-days"></i>
                    <h4>AGENDA</h4>
                    <p>HABILITADO</p>
                </div>
            </section>
        </section>
    </main>

    <script src="../js/menu.js"></script>
    <script>
        function abrirLoja(){
            window.location = "../pacotes/store.html";
        }
    </script>
</body>

</html>