<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/agenda.css" />
    <title>Agenda</title>
  </head>
  <body>
    <nav class="menu-lateral">

      <div class="btn-expandir">
          <i class="fa-solid fa-bars" id="btn-exp"></i>
      </div>

      <ul>
          <li class="item-menu">
              <a href="/src/templates/menu.html">
                  <span class="icon"><i class="fa-solid fa-house"></i></span>
                  <span class="txt-link">Home</span>
              </a>
          </li>
          <li class="item-menu">
              <a href="/src/templates/chat.html">
                  <span class="icon"><i class="fa-solid fa-comments"></i></span>
                  <span class="txt-link">Chat</span>
              </a>
          </li>
          <li class="item-menu">
              <a href="/src/templates/tarefas.html">
                  <span class="icon"><i class="fa-solid fa-list-check"></i></span>
                  <span class="txt-link">Tarefas</span>
              </a>
          </li>
          <li class="item-menu  ativo">
              <a href="/src/templates/agenda.html">
                  <span class="icon"><i class="fa-regular fa-calendar-days"></i></span>
                  <span class="txt-link">Agenda</span>
              </a>
          </li>
          <li class="item-menu">
              <a href="/src/templates/config.html">
                  <span class="icon">
                      <i class="fa-solid fa-gear"></i>
                  </span>
                  <span class="txt-link">Configurações</span>
              </a>
          </li>
          <li class="item-menu">
              <a href="/src/templates/user.html">
                  <span class="icon"><i class="fa-solid fa-circle-user"></i></span>
                  <span class="txt-link">Usuário</span>
              </a>
          </li>
      </ul>
    </nav>
    <div class="container">
      <div class="left">
        <div class="calendar">
          <div class="month">
            <i class="fas fa-angle-left prev"></i>
            <div class="date"></div>
            <i class="fas fa-angle-right next"></i>
          </div>
          <div class="weekdays">
            <div>Dom</div>
            <div>Seg</div>
            <div>Ter</div>
            <div>Qua</div>
            <div>Qui</div>
            <div>Sex</div>
            <div>Sáb</div>
          </div>
          <div class="days"></div>
          <div class="goto-today">
            <div class="goto">
              <input type="text" placeholder="mm/aaaa" class="date-input" />
              <button class="goto-btn">Buscar</button>
            </div>
            <button class="today-btn">Hoje</button>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="today-date">
          <div class="event-day"></div>
          <div class="event-date"></div>
        </div>
        <div class="events"></div>
        <div class="add-event-wrapper">
          <div class="add-event-header">
            <div class="title">Novo Evento</div>
            <i class="fas fa-times close"></i>
          </div>
          <div class="add-event-body">
            <div class="add-event-input">
              <input type="text" placeholder="Nome do Evento" class="event-name" />
            </div>
            <div class="add-event-input">
              <input
                type="text"
                placeholder="Horário de Início"
                class="event-time-from"
              />
            </div>
            <div class="add-event-input">
              <input
                type="text"
                placeholder="Horário de Término"
                class="event-time-to"
              />
            </div>
          </div>
          <div class="add-event-footer">
            <button class="add-event-btn">Adicionar</button>
          </div>
        </div>
      </div>
      <button class="add-event">
        <i class="fas fa-plus"></i>
      </button>
    </div>

    <script src="../js/agenda.js"></script>
    <script src="../js/menu.js"></script>

  </body>
</html>
